<footer id="footer">
  <small>
    &copy; {{ "now"|date("Y") }}
    <a href="{{ config.base_url }}">{{ config.site_title }}</a>
    {% if config.parent_site_name and config.parent_site_url %}
      part of
      <a href="{{ config.parent_site_url }}">{{ config.parent_site_name }}</a>.
    {% endif %}
  </small>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</footer>
