<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="{{ site_title }} logo" src="{{ config.image_prefix }}/{{ config.logo_name }}" height="40" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% for page in pages %}
            {% if page.meta.navlink %}
              {% if page.url == current_page.url %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
              {% if page.title != "Home" %}
                <a href="{{ page.url }}">{{ page.title }}</a>
              {% else %}
                <a href="{{ base_url }}">{{ page.title }}</a>
              {% endif %}
              </li>
            {% endif %}
          {% endfor %}
          {% for url,name in config.links %}
						<li><a href="{{ url }}" >{{ name }}</a></li>
					{% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
